venv
geodjangorainmarker_venv/
fgeovisor_venv/
geodjrep_venv/
migrations
fgeovisor/visor_bend_site/settings.py
prac\prac-env\pyvenv.cfg
prac
geodjangorainmarker
geodjango
*.pyc
__pycache__
*.py[cod]
*$py.class
/ssl/
ssl/
ssl
api.js
GDAL-3.10.1-cp312-cp312-win_amd64.whl
nginx/*
!scripts/nginx
!nginx/.gitkeep
!nginx/README.md