#mainThemeButton.button {
    background: white;
}

#mainThemeButton.button:hover {
    background-color: white;
}

#mainThemeButton.button::before,
#mainThemeButton.button::after {
    content: "Сменить тему"; /* Оставляем текст по умолчанию */
    color: black; /* Обычный цвет текста */
    clip-path: none; /* Убираем разделение */
}

#mainThemeButton.button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    cursor: pointer;
    background: linear-gradient(90deg, #38393c 50%, white 50%);
    border-radius: 8px;
    overflow: hidden;
    /* color: rgb(124, 124, 124); */
    color: black;
}

#mainThemeButton.button::before,
#mainThemeButton.button::after {
    content: "Авто"; /* Статичный текст */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: inherit;
    font-weight: inherit;
    white-space: nowrap; /* Для предотвращения переноса текста */
}