/* Акцентные цвета: DeepSkyBlue */

/* Прогресс-бар */
.progress-bar {
    background-color: deepskyblue;
}

#progressBar {
    background: deepskyblue;
}

/* Кнопка открытия меню при наведении */
.menu-button:hover {
    background-color: deepskyblue;
}

a:hover {
    color: deepskyblue;
}

/* Кнопка внутри всплывающего окна */
.leaflet-popup-content-wrapper button {
    background-color: deepskyblue;
    color: white;
}

button{
    background-color: aquamarine;
}

button:hover{
    background-color: deepskyblue;
}