/* Акцентные цвета: Gold */

/* Прогресс-бар */
.progress-bar {
    background-color: gold;
}

#progressBar {
    background: gold;
}

/* Кнопка открытия меню при наведении */
.menu-button:hover {
    background-color: gold;
}

a:hover {
    color: gold;
}

/* Кнопка внутри всплывающего окна */
.leaflet-popup-content-wrapper button {
    background-color: gold;
    color: black;
}

button{
    background-color: rgb(233, 233, 38);
}

button:hover{
    background-color: gold;
}

.calendar-day:hover {
    background-color: gold;
    color: black;
}