/* Общие стили для body */
body {
    background-color: white; /* Цвет фона */
}

.progress-container {
    background-color: white;
    border: 1px solid #ccc;
}

.progress-bar {
    color: #282c34;
}

/* Боковое меню */
.sidebar {
    background-color: white;
}

.sidebar a {
    color: #38393c;
}

/* Контейнер прогресса */
#progressContainer {
    background: white;
    border: 1px solid #ccc;
}

/* Кнопка открытия меню */
.menu-button {
    background-color: white;
    color: #38393c;
    border: 1px solid #ccc;
}

.ui-button {
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

.ui-button button {
    background-color: white;
    color: #38393c;
    border: 1px solid #ccc;
}

/* Контент модального окна */
.modal-content {
    background-color: white; /* Цвет фона формы */
}

/* Заголовок модального окна */
.modal-content h2 {
    color: #38393c; /* Цвет заголовка */
}

/* Поля ввода */
input {
    border: 1px solid #38393c; /* Цвет границы */
}

/* Стили для кнопки закрытия модального окна */
.close {
    color: #38393c; /* Цвет текста кнопки закрытия */
}

a:link {
    color: #38393c;
}

a:visited {
    color: #38393c;
}

#themeButton {
    background-color: white;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: #ffffff;
    color: #38393c;
}

#themeSettings {
    color: #38393c;
}

.section-title {
    color: #38393c;
}
