/* Общие стили для body */
body {
    background-color: white; /* Цвет фона */
}

.progress-container{
    background-color: white;
    border-color: 1px solid #20bab0;
}

.progress-bar{
    color: #282c34;
    border-color: 1px solid #20bab0;
}

/* Боковое меню */
.sidebar {
    background-color: white;
}

.sidebar a {
    color: #38393c;
}

.sidebar a:hover {
    background-color: deepskyblue;
    color: white;
}

#progressContainer {
    border: 1px solid #20bab0;
    background: white;
}

#progressBar {
    border-color: 1px solid #20bab0;
}

/* Кнопка открытия меню */
.menu-button {
    background-color: white;
    color: #38393c;
    border: 1px solid #20bab0;
}

.ui-button {
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

.ui-button button {
    background-color: white;
    color: #38393c;
    border: 1px solid #20bab0;
}

.ui-button button:hover{
    background-color: deepskyblue;
}

/* Контент модального окна */
.modal-content {
    background-color: white; /* Цвет фона формы */
}

/* Заголовок модального окна */
.modal-content h2 {
    color: #38393c; /* Цвет заголовка */    left: 0%;
}

/* Поля ввода */
input{
    border: 1px solid #38393c; /* Цвет границы */
}

/* Стили для кнопки закрытия модального окна */
.close {
    color: #38393c; /* Цвет текста кнопки закрытия */
}

.a:link{
    color: #38393c;
}


a:visited{
    color: #38393c;
}

#themeButton {
    background-color: white;
}

#themeButton:hover {
    background-color: #20bab0; /* Цвет при наведении */
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: #ffffff;
	color: #38393c;
	}

.leaflet-popup-content-wrapper button{
    background-color: deepskyblue;
    color: white;
}
