/* Акцентные цвета: #FCB03C */

/* Прогресс-бар */
.progress-bar {
    background-color: #FCB03C;
}

#progressBar {
    background: #FCB03C;
}

/* Кнопка открытия меню при наведении */
.menu-button:hover {
    background-color: #FCB03C;
}

a:hover {
    color: #FCB03C;
}

/* Кнопка внутри всплывающего окна */
.leaflet-popup-content-wrapper button {
    background-color: #FCB03C;
    color: white;
}

button{
    background-color: #FFAE42;
}

button:hover{
    background-color: #FCB03C;
}

.calendar-day:hover {
    background-color: #FCB03C;
    color: white;
}