{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            href="{% static 'img/favicon.ico' %}"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css"
        />
        <title>fgeovisor</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link id="theme" rel="stylesheet" href="{% static 'css/light.css' %}" />
        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
        <link rel="stylesheet" href="{% static 'css/mainColors.css' %}" />
        <link
            rel="stylesheet"
            id="colors"
            href="{% static 'css/blue_crayola.css' %}"
        />
    </head>
    <body>
        <div id="blocker"></div>
        <!-- Боковое меню -->
        <div id="sidebar" class="sidebar" style="width: 0">
            <div id="defoltview">
                <a href="javascript:void(0)" onclick="showLoginForm()">Войти</a>
                <a href="javascript:void(0)" onclick="showRegistrationForm()"
                    >Зарегистрироваться</a
                >
            </div>
            <div id="loggedinbuttons">
                <div id="superuser">
                    <a href="{% url 'admin:index' %}">Панель админа</a>
                </div>
                <a href="javascript:void(0)" onclick="logout()">Выйти</a>
                <a href="javascript:void(0)" onclick="showChangePasswd()"
                    >Сменить пароль</a
                >
            </div>
            <a
                href="javascript:void(0)"
                id="themeButton"
                onclick="showThemeSettings()"
                >Внешний вид</a
            >
        </div>
        <!-- Добавляем контейнер календаря -->
        <div id="selected-date-container"></div>

        <div id="themeSettings" style="display: none">
            <div class="settings-panel">
                <div class="section">
                    <div class="section-title">Тема</div>
                    <div class="theme-toggle">
                        <button
                            class="button"
                            id="mainThemeButton"
                            onclick="switchTheme()"
                        ></button>
                    </div>
                </div>
                <div class="section">
                    <div class="section-title">Цвет акцента</div>
                    <div class="accent-colors">
                        <button
                            title="синий"
                            style="background-color: #1a4f63"
                            onclick="switchColor('blue_crayola')"
                        ></button>
                        <button
                            title="голубоой"
                            style="background-color: #068587"
                            onclick="switchColor('dark_cyan')"
                        ></button>
                        <button
                            title="жёлтый"
                            style="background-color: #fcb03c"
                            onclick="switchColor('orange_crayola')"
                        ></button>
                        <button
                            title="зелёный"
                            style="background-color: #6fb07f"
                            onclick="switchColor('green_crayola')"
                        ></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-button" id="ui-button">
            <button id="createButton">Добавить поле</button>
            <button id="finishButton" style="display: none">Применить</button>
            <button id="cancelButton" style="display: none">Отменить</button>
        </div>
        <!-- Карта -->
        <div
            id="map"
            onmousedown="document.getElementById('sidebar').style.width='0px'"
        ></div>

        <!-- Кнопка открытия меню -->
        <button
            id="menuButton"
            class="menu-button"
            onmousedown="toggleSidebar()"
        >
            ☰
        </button>

        <!-- Модальное окно для форм -->
        <div id="modal" class="modal">
            <div
                class="modal-content"
                id="modal-content"
                onclick="event.stopPropagation();"
            >
                <span id="span" class="close" onclick="closeModal()"
                    >&times;</span
                >
                <div class="modalBody" id="modalBody"></div>
            </div>
        </div>

        <div id="progressContainer" style="display: none">
            <div id="progressBar"></div>
        </div>

        <!-- Встраиваем формы в скрытые элементы -->
        <div style="display: none">
            <div id="loginForm">
                <!-- Содержимое файла login.html -->
                <div class="errormsg" id="errormsg">
                    <p>Неправильное имя пользователя или пароль</p>
                </div>
                <h2>Вход</h2>
                <form onsubmit="auth(event)">
                    {% csrf_token %}
                    <input
                        placeholder="Введите login"
                        type="text"
                        id="username"
                        name="username"
                        autocomplete="username"
                        required
                    />
                    <input
                        placeholder="Введите пароль"
                        type="password"
                        id="password"
                        name="password"
                        autocomplete="current-password"
                        required
                    />
                    <button>Войти</button>
                    <div class="login-help">
                        <a
                            href="javascript:void(0)"
                            onclick="showRegistrationForm()"
                            >Нет аккаунта</a
                        >
                    </div>
                </form>
            </div>

            <div id="registrationForm">
                <!-- Содержимое файла registration.html -->
                <div class="errormsg" id="errorrg">
                    <p>Неверные данные или пользователь уже существует</p>
                </div>
                <h2>Регистрация</h2>
                <form onsubmit="register(event)">
                    {% csrf_token %}
                    <input
                        placeholder="Введите имя пользователя"
                        type="text"
                        id="UserName"
                        onsubmit="return validatePasswords()"
                        name="username"
                        autocomplete="username"
                        required
                    />
                    <input
                        placeholder="Введите email"
                        type="text"
                        id="regEmail"
                        name="email"
                        required
                        autocomplete="email"
                    />
                    <input
                        placeholder="Введите пароль"
                        type="password"
                        id="regPassword"
                        name="password"
                        autocomplete="new-password"
                        required
                    />
                    <input
                        placeholder="Повторите пароль"
                        type="password"
                        id="passwordConfirmation"
                        name="passwordConfirmation"
                        autocomplete="new-password"
                        required
                    />
                    <button type="submit">Зарегистрироваться</button>
                </form>
            </div>
        </div>
        <div id="changeForm">
            <div class="errormsg" id="errormsg">
                <p>Неверный пароль</p>
            </div>
            <h2>Сменить пароль</h2>
            <form onsubmit="changePasswd(event)">
                {% csrf_token %}
                <input
                    placeholder="Введите текущий пароль"
                    type="password"
                    id="oldPassword"
                    name="password"
                    autocomplete="password"
                    required
                />
                <input
                    placeholder="Введите новый пароль"
                    type="password"
                    id="newPassword"
                    name="password"
                    autocomplete="regPassword"
                    required
                />
                <input
                    placeholder="Повторите пароль"
                    type="password"
                    id="rPassword"
                    name="password"
                    autocomplete="regPassword"
                    required
                />
                <button type="submit">Применить</button>
            </form>
        </div>
        <script>
            var csrfToken = document.querySelector(
                "[name = csrfmiddlewaretoken]"
            ).value;
            var authcheck = "{{auth_check | safe}}";
            var isadmin = "{{is_staff | safe}}";
            var loginerror = "{{login_error | safe}}";
            var regerror = "{{is_vallid_error | safe}}";
            var permition_access = "{{create_error | safe}}";
            const staticUrls = {
                light: "{% static 'css/light.css' %}",
                dark: "{% static 'css/dark.css' %}",
                auto: "{% static 'css/auto.css' %}",
                "#1A4F63": "{% static 'css/blue_crayola.css' %}",
                "#068587": "{% static 'css/dark_cyan.css' %}",
                "#6FB07F": "{% static 'css/green_crayola.css' %}",
                "#FCB03C": "{% static 'css/orange_crayola.css' %}",
            };
        </script>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/leaflet-editable@1.2.0/src/Leaflet.Editable.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>
        <script type="module" src="static/js/mapInit.js"></script>
        <script src="static/js/utils.js"></script>
        <script src="static/js/polygonManager.js"></script>
        <script src="static/js/calculations.js"></script>
        <script type="module" src="static/js/uiControls.js"></script>
        <script src="static/js/userstate.js"></script>
    </body>
</html>
